<div class="middle-center">
  <h1 class="landing logo">Taxi</h1>
  <div *ngIf="getUser(); then thenBlock; else elseBlock;"></div>
  <ng-template #thenBlock>
    <a class="btn btn-primary" [routerLink]="isRider() ? '/rider' : '/driver'">Dashboard</a>
    <button class="btn btn-primary" (click)="logOut()">Log out</button>
  </ng-template>
  <ng-template #elseBlock>
    <a class="btn btn-primary" [routerLink]="['/login']">Log In</a>
    <a class="btn btn-primary" [routerLink]="['/signup']">Sign Up</a>
  </ng-template>
</div>

<!-- 
Landing page conditionally shows either "Sign Up" and "Log In" button if the user is not logged in or a "Log Out" button if the user has already been authenticated.
-->